<div class="centeredRow">
    <div class="carteFilm">
        <div class="title">Interstellar</div>
        <div class=""><img src="assets/interstellar.jfif" class="imageFilm"> </div>
    </div>
    <div class="carteFilm">
        <div class="title">Shutter Island</div>
        <div class=""><img src="assets/shutterisland.jpg" class="imageFilm"> </div>
    </div>
    <div class="carteFilm">
        <div class="title">NightCrawler</div>
        <div class=""><img src="assets/nightcrawler.jpg" class="imageFilm"> </div>
    </div>
    <div class="carteFilm">
        <div class="title">Inception</div>
        <div class=""><img src="assets/inception.jpg" class="imageFilm"> </div>
    </div>
    <div class="carteFilm">
        <div class="title">Seigneur des anneaux - Le retour du Roi</div>
        <div class=""><img src="assets/lotr.png" class="imageFilm"> </div>
    </div>
</div>